<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css(~{::title},~{::link},~{::script})">
    <title th:text="${trip.title}">Trip Detail</title>
</head>
<body>
	<nav th:replace="fragments/header :: header"/>
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/phone.css}" />


	<div class="container">

        <!-- Page Header -->
     
		<div class="row" style="margin-top: 1.5em">
			<div class="col-md-3">
				<img class="img-responsive" th:src="${trip.avatarUrl}" alt="${trip.title}">
			</div>
			<div class="col-md-9" >
				<h1 style="margin-top:0px" th:text="${trip.title}" >Title</h1>
				<p style="margin: 1em 0;color: #555" th:text="${{trip.createdAt}}" class="row"></p>
				<p th:text="${trip.description}">Trip description</p>
				<a th:href="|/booking/${trip.id}|"  class="btn btn-success">Book it &raquo;</a>
				<span th:replace="fragments/phone :: phone"/>
			</div>
		</div>
		
		<hr />
		
		<div class="row">
			<h3>Some details about destination</h3>
			<div class="alert alert-warning" role="alert">
				An amazing experience guaranteed! 
			</div>
				
			<p th:text="${trip.content}">Content</p>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/static/js/phone.js}"></script>
	<footer th:include="fragments/footer :: footer" />
	<div th:replace="fragments/chat :: chat"/>
</body>
</html>