body {
    padding-top: 70px; 
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.hidden{
	display:none;
}

#nexmo-logo{
 padding: 0px 0px 3px 2px;
}

.navbar-brand{
    font-family: 'Orbitron', sans-serif;
}