<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<head th:replace="fragments/header :: header-css(~{::title},~{::link},~{::script})">
    <title>Welcome to Admin</title>
</head> 
</head>
	<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	  	<nav th:replace="fragments/header :: header-nav"/>
	  	
	  	 <div class="containter">
	  	 	<div class="content-wrapper">
    
      		<h1>Page was not found</h1>
      		
      		
      	</div>
	  	 </div>
	</body>
</html>
