<html xmlns:th="http://www.thymeleaf.org">
<body>
	<footer class="py-5 bg-dark" th:fragment="footer">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Your
				Peter &amp; Nicola 2017</p>
		</div>
	
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/static/js/main.js}"></script>
	</footer>

</body>
</html>