<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header-css(title,links,scripts)" >
	<title th:replace="${title}">TravelWise</title>
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
													   
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/chat.css}" />
	
	<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/main.js}"></script>
	
	<th:block th:if="${links != null}">
		<th:block th:replace="${links}" />
	</th:block>
	<th:block th:if="${scripts != null}">
		<th:block th:replace="${scripts}" />
	</th:block>
</head>
<body>


<nav th:fragment="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
       <!-- Brand and toggle get grouped for better mobile display -->
       <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/">TravelWise</a>
       </div>
       <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
               <li>
                   <a href="/">Trips</a>
               </li>
               <li>
                   <a href="/bookings">My bookings</a>
               </li>
               <li>
                   <a href="#">Contact</a>
               </li>
			</ul>
           
           <ul class="nav navbar-nav navbar-right">
				<li sec:authorize="${isAuthenticated()}">
               		<a href="/logout">Logout</a>
               </li>
               
               <li sec:authorize="${ ! isAuthenticated()}">
               		<a href="/login">Login</a>
               </li>
               
               <li sec:authorize="${ ! isAuthenticated()}">
               		<a href="/sign-up">Sign up</a>
               </li>
			</ul>
       </div>
       <!-- /.navbar-collapse -->
   </div>
   <!-- /.container -->
</nav>

</body>
</html>